body {
  max-width: 400px;
  margin: 40px auto;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.14),0 2px 1px -1px rgba(0,0,0,0.12);
  border-radius: 2px;
  background: white;
  padding: 16px 24px;
}

h1 {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin: 0 0 16px;
}

.hidden{
  display: none;
}

#main {
  min-height: 100%;
  height: auto;
}

#main table {
  text-align: center;
  color: rgb(255,255,255);
  margin-left: auto;
  margin-right: auto;
}

#main table td{
  width: 180px;
  height: 60px;
}

#all{
  background-color: rgb(204,0,0);
}

#enterm{
  background-color: rgb(71,234,126);
}

#it{
  background-color: rgb(135,0,204);
}

#fashion{
  background-color: rgb(255,129,25);
}

#news{
  background-color: rgb(80,77,203);
}

#gurume{
  background-color: rgb(255,101,12);
}

#sports{
  background-color: rgb(28,5,255);
}

#hobby{
  background-color: rgb(0,255,255);
}

#listener{
  margin: 50px;
  padding: 30px;
  text-align: center;
}

#listener img{
   width: 60px;
   height: 40px;
}