h1 {
  margin: 16px 0 0;
  text-align: center;
}

div {
  list-style: none;
  margin: 16px 0 0;
  padding: 0;
  text-align: center;
}

#main {
  background-color: rgb(188,189,194)
}

#red{
  background: rgb(204,0,0);
  border: 1px solid rgb(204,0,0);
}

#green{
  background: rgb(71,234,126);
  border: 1px solid rgb(71,234,126);
}

#purple{
  background: rgb(135,0,204);
  border: 1px solid rgb(135,0,204);
}

#orange{
  background: rgb(255,129,25);
  border: 1px solid rgb(255,129,25);
}

#kon{
  background: rgb(80,77,203);
  border: 1px solid rgb(80,77,203);
}

#pink{
  background: rgb(255,101,12);
  border: 1px solid rgb(255,101,12);
}

#blue{
  background: rgb(28,5,255);
  border: 1px solid rgb(28,5,255);
}

#sky{
  background: rgb(0,255,255);
  border: 1px solid rgb(0,255,255);
}

#main div a {
  display: inline-block;
  padding: 8px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  /* background: rgb(3,155,229); */
  color: white;
  /*border: 1px solid rgb(3,155,229);*/
  border-radius: 3px;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}